<template>
  <HelloWorld2 :msg="msg"></HelloWorld2>
</template>

<script>
import { HelloWorld, testfunc } from "@jwc/lib-test";

console.warn("HelloWorld", HelloWorld);
// console.log("reqire", require("@jwc/lib-test"));
console.log("testfunc", testfunc);
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },

  components: { HelloWorld2: HelloWorld },
  created() {
    console.log("created", testfunc(1, 2));
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
